<mat-form-field appearance="standard">
  <mat-label>Buscar</mat-label>
  <input matInput (keyup)="filtrarContatos($event)" placeholder="Exemplo: Victor" #input>
</mat-form-field>

<div id="tabelaContatos">
  <table mat-table [dataSource]="listaContatos" matSort>

    <ng-container matColumnDef="codigo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por Código">
         Código
      </th>
      <td mat-cell *matCellDef="let row">
        {{row.id}}
      </td>
    </ng-container>

    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por Nome">
         Nome
      </th>
      <td mat-cell *matCellDef="let row">
         {{row.nome}}
      </td>
    </ng-container>

    <ng-container matColumnDef="telefone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por Telefone">
         Telefone
      </th>
      <td mat-cell *matCellDef="let row">
         {{row.telefone | mask:"(00)00000-0000"}}
      </td>
    </ng-container>

    <ng-container matColumnDef="remover">
      <th mat-header-cell *matHeaderCellDef>
        Remover
      </th>
      <td mat-cell *matCellDef="let row">
        <button
            mat-button
            [disabled]="!listaContatos.data.length"
            (click)="excluirContato(row)"
            class="btn">
          <mat-icon>
            delete
          </mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Nenhum contato encontrado para: "{{input.value}}"</td>
    </tr>
  </table>
</div>
