.formulario {
  min-width: 150px;
  width: 100%;
}

.camposFormulario {
  width: 47.5%;
}

.mg-l{
  margin-left: 2em;
}

mat-card{
  top: 10%;
  margin-left: 10%;
  width: 80%;
}

@media (max-width: 768px) {

  .camposFormulario{
    margin: 0 !important;
    width: 100%;
  }


}

@media (max-width: 560px) {

  mat-card{
    top: 10%;
    width: 100%;
    margin-left: 0;
  }

}
