
<mat-card>
  <mat-card-content>
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput value="">
      </mat-form-field>

      <mat-form-field class="mg-l example-full-width" appearance="fill">
        <mat-label>Telefone</mat-label>
        <input matInput value="" mask="(00)00000-0000">
      </mat-form-field>

        <button mat-raised-button color="primary">Salvar</button>
        <button class="mg-l" mat-stroked-button color="primary">Limpar</button>

    </form>

  </mat-card-content>
</mat-card>
<br>
<br>
<mat-card>
  <mat-card-content>
<app-tabela-contatos></app-tabela-contatos>
</mat-card-content>
</mat-card>
